html,body {
  margin: 0;
}

body {
  background-color: #f0f0f0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
     height: 55px;
     background-color: #F55A5A;
     padding: 20px 35px;
     margin: -5px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 5px;
  }
   
header > svg {
  height: 30px;
  width: 30px;
}

header > span {
  font-size: 18px;
  font-family: Inter;
}

section { 
  align-items: center;
  display: flex;
  gap: 5px;
}

#place {
  display: flex;
  width: 155px;
  height: 270px;
  margin-block: 70px;
  border-radius: 9px;
  margin-left: 30px;
}

#mark {
  width: 15px;
  height: 20px;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  gap: 7px;
  top: 200px;
  margin-bottom: 190px;
  margin-left: 15px;
}

.info > a {
  white-space: nowrap;
  opacity: 0.4;
}

.info > a:hover {
  opacity: 1;
}

.info-m {
  margin-top: 5px;
  margin-left: -235px;
}

.info-m-f {
  margin-top: 5px;
  margin-left: -210px;
}

.info-m-f > big {
  font-weight: bold;
}

.info-m > big {
  font-weight: bold;
}

.info-m-f > span {
  margin-top: 15px;
}

.info-m > span {
  margin-top: 15px;
}

.info-m-f > h1 {
  font-size: 40px;
}

.info-m > h1 {
  font-size: 40px;
}

.footer {
  display: grid;
  place-items: center;
  height: 100px;
}
